body{
    font-size:16px;
}

.navbar-default {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #52ddfb;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #52ddfb;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #337ab7;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #52ddfb;
  background-color: #2e6da4;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #2e6da4;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #52ddfb;
  background-color: #2e6da4;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #52ddfb;
  background-color: #2e6da4;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #52ddfb;
  background-color: #2e6da4;
}
.navbar-default .navbar-toggle {
  border-color: #2e6da4;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2e6da4;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #52ddfb;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #52ddfb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #52ddfb;
    background-color: #2e6da4;
  }
}

nav.narbar-layout {
    margin-bottom:0px;
    font-size:150%;
}
a.navbar-brand {
    font-size:120%;
    margin-top:15pt;
}
div.header{
    position: relative;
}
img.hleft{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;    
}
img.hword {
    position: absolute;
    left: 20%;
    top: 20px;
    z-index: 3;
}
img.hright {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
}


